@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
  font-weight: 200;
  color: $font-light;
}

body,
html {
   height: 100vh;
   width: 100%;
   background-color: $background-light;
 }

.login-container {
  @include background;
  min-height: 100vh;
  .login-wrapper {
     margin: auto;
    .login-header {
      font-weight: 200;
      text-align: center;
      margin-bottom: 50px;
    }
    .login-form {
      width: 100%;
      position: relative;
      @include box-shadow-radius;
      @include form;
      margin: auto;
      padding-top: 50px; 
      .login-item {
        @include form-item;
        input {
          @include box-shadow-radius;
          @include form-input;
        }
        label {
          color: $background-dark;
        }
      }
      .login-btn {
        margin-top: 20px;
        @include button($background-dark);
      }
      .error-msg {
        color: $alert-error;
        position: relative;
      }
    }
  }
  .loading-wrapper {
    margin: auto;
  }
}

.login-wrapper {
  width: 80%;
  .login-header {
    font-size: 2rem;
  }
}

.loading-msg {
  font-size: 3rem;
}

.nav-container {
   display: flex;
   overflow: hidden;
   position: fixed;
   bottom: 0;
   width: 100%;
   padding: 20px;
   justify-content: space-between;
   background-color: $background-medium-dark;
   z-index: 999;
   color: $font-light;
   .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    @include hover-opacity;
    .nav-icon {
      font-size: 2.5rem;
      padding-bottom: 5px;
    }
    p {
      color: white;
      font-size: .7rem;
    }
  }
}

.loading-container {
  .bucket-empty,
  .bucket-full {
   font-size: 6rem;
 }
}

.np-container-title {
  color: $font-dark;
  font-size: 3rem;
  background-color: $background-medium;
  padding: 10px;
  text-align: center;
}

.np-container {
  width: 90%;
  @include container-grid;
  padding: 50px 0 150px;
}

.not-found-wrapper {
  margin: auto;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  .not-found-msg {
    margin-top: 30px;
    width: 100%;
    color: $font-dark;
    font-size: 2rem;
    span {
      font-weight: 400;
      color: $font-dark;
    }
  }
  .not-found-icon {
    font-size: 100px;
    align-self: center;
    background-color: $background-medium;
    padding: 10px;
    @include box-shadow-radius;
  }
  .add-parks-btn {
    @include button($background-dark);
    margin-top: 50px;
    text-decoration: none;
  }
}

.np-card-wrapper {
    cursor: pointer;
    background-color: $background-white;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include box-shadow-radius;
    h2,
    p {
      color: $font-dark;
      font-size: 1.4rem;
      padding: 15px;
      text-align: center;
    }
    p {
      font-size: 1rem;
      background-color: $background-medium-light;
      border-radius: 0 0 7px 7px;
      
    }
    .np-card-img-wrapper {
      position: relative;
      .np-card-img{
        @include icon-hover;
        opacity: 0.9;
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 7px 7px 0 0;
      }
      .np-card-bucket,
      .np-card-check,
      .np-card-notes {
        font-size: 3rem;
        @include icon-on-img;
        @include icon-hover;
        right: 10px;
      }
      .np-card-bucket {
        left: 10px;
      }
      .np-card-notes {
        right: 60px;
      }
    }
    .np-card-btn {
      text-decoration: none;
    }
}

.search-wrapper {
  width: 100%;
  @include form;
  margin: auto;
  .search-item-wrapper {
    display: flex;
    width: 90%;
    .search-item {
      @include form-item;
      input {
        @include box-shadow-radius;
        @include form-input;
        font-weight: 300;
        border-radius: 7px 0 0 7px;
      }
      label {
        color: $background-dark;
        font-weight: 300;
      }
    }
    .search-btn {
      @include button($background-dark);
      padding: 7px;
      font-size: 1.2rem;
      border-radius: 0 7px 7px 0;
    }
  }
}

.search-loading-container {
  width: 100%;
  @include background;
  min-height: 100vh;
  p {
    margin: auto;
    font-size: 3rem;
  }
}

.slider-container {
      position: relative;
      width: 100vw;
      height: 40vh;
      background-color: $background-medium-dark;
      .details-back-btn,
      .np-slider-check,
      .np-slider-bucket {
        @include icon-on-img;
        @include icon-hover;
        font-size: 3rem;
      }
      .details-back-btn {
        left: 10px;
      }
      .np-slider-check {
        right: 10px;
      }
      .np-slider-bucket {
        right: 80px;
      }
      .slider-img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
      }
}

.np-info-container {
  padding-bottom: 150px;
}

.np-info-map-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.np-info-wrapper {
  width: 50%;
  background-color: $background-medium;
  padding: 50px;
  .np-feature {
    margin-top: 15px;
    display: flex;
    p,
    a {
      font-weight: 400;
      font-size: 1.4rem;
    }
    .feature-icon {
      font-size: 40px;
      margin-right: 10px;
    }
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 30px;
  }
}

.map-link {
  text-decoration: none;
}

.map-tag {
  font-size: 1.4rem;
  background-color: $background-medium;
  padding: 2px;
  @include box-shadow-radius;
}

.map-title {
  color: $font-dark;
  font-weight: 400;
}

.np-info-map {
  padding: 50px;
  width: 50%;
  background-color: $background-medium;
  height: auto;
}

.user-container {
  @include background;
  min-height: 100vh;
  .user-wrapper {
    margin: auto;
    .user-header {
      font-weight: 200;
      text-align: center;
      margin-bottom: 50px;
    }
    .user-info {
      width: 100%;
      position: relative;
      @include box-shadow-radius;
      @include form;
      margin: auto;
      padding-top: 50px; 
      p {
        font-size: 1.4rem;
        color: $font-dark;
        margin-top: 15px;
        span {
          font-weight: 400;
        }
      }
      .logout-btn {
        margin-top: 20px;
        @include button($background-dark);
      }
      .user-feature {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-size: 2rem;
      }
    }
  }
}

.user-wrapper {
  width: 80%;
  .user-header {
    font-size: 2rem;
  }
}

.note-container {
  background-color: $background-light;
  padding: 50px;
  h2,
  li {
    color: $font-dark;
    list-style: none;
    font-size: 1.4rem;
    text-align: center;
  }
}

.note-form {
  color: $font-dark;
  width: 100%;
  @include form;
  @include box-shadow-radius;
  margin: auto;
  margin-top: 30px;
  textarea {
    width: 100%;
    resize: none;
    color: $font-dark;
    font-size: 1.4rem;
  }
  .add-note-btn {
    @include button($background-dark);
    margin-top: 20px;
  }
}




 @import './media-queries';