* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  font-weight: 200;
  color: #fafafa;
}

body,
html {
  height: 100vh;
  width: 100%;
  background-color: #f8f8f8;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 18, 90, 0.2)), to(rgba(14, 44, 99, 0.2))), url("https://images.unsplash.com/photo-1541641448801-7e14deb25463?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-image: linear-gradient(rgba(6, 18, 90, 0.2), rgba(14, 44, 99, 0.2)), url("https://images.unsplash.com/photo-1541641448801-7e14deb25463?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  width: 100%;
  min-height: 100vh;
}

.login-container .login-wrapper {
  margin: auto;
}

.login-container .login-wrapper .login-header {
  font-weight: 200;
  text-align: center;
  margin-bottom: 50px;
}

.login-container .login-wrapper .login-form {
  width: 100%;
  position: relative;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  background-color: #cacaca;
  opacity: 0.7;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto 0;
  margin: auto;
  padding-top: 50px;
}

.login-container .login-wrapper .login-form .login-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.login-container .login-wrapper .login-form .login-item input {
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  border: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  font-size: 1rem;
  margin-bottom: 15px;
  width: 100%;
  background-color: #fffefe;
  color: #3d3d3d;
}

.login-container .login-wrapper .login-form .login-item label {
  color: #3d3d3d;
}

.login-container .login-wrapper .login-form .login-btn {
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  border: 2px solid #3d3d3d;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .8;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  color: #3d3d3d;
}

.login-container .login-wrapper .login-form .login-btn:hover {
  opacity: 1;
  color: #fff;
  background-color: #3d3d3d;
  -webkit-transition: color .5s, background-color .5s, opacity .5s;
  transition: color .5s, background-color .5s, opacity .5s;
}

.login-container .login-wrapper .login-form .error-msg {
  color: #9e020f;
  position: relative;
}

.login-container .loading-wrapper {
  margin: auto;
}

.login-wrapper {
  width: 80%;
}

.login-wrapper .login-header {
  font-size: 2rem;
}

.loading-msg {
  font-size: 3rem;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #a7a7a7;
  z-index: 999;
  color: #fafafa;
}

.nav-container .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  opacity: .7;
  cursor: pointer;
}

.nav-container .nav-item:hover {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.nav-container .nav-item .nav-icon {
  font-size: 2.5rem;
  padding-bottom: 5px;
}

.nav-container .nav-item p {
  color: white;
  font-size: .7rem;
}

.loading-container .bucket-empty,
.loading-container .bucket-full {
  font-size: 6rem;
}

.np-container-title {
  color: #1a1a1a;
  font-size: 3rem;
  background-color: #cacaca;
  padding: 10px;
  text-align: center;
}

.np-container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[1];
      grid-template: auto/repeat(1, 1fr);
  margin: 0 auto;
  grid-gap: 50px;
  padding: 50px 0 150px;
}

.not-found-wrapper {
  margin: auto;
  padding: 100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.not-found-wrapper .not-found-msg {
  margin-top: 30px;
  width: 100%;
  color: #1a1a1a;
  font-size: 2rem;
}

.not-found-wrapper .not-found-msg span {
  font-weight: 400;
  color: #1a1a1a;
}

.not-found-wrapper .not-found-icon {
  font-size: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #cacaca;
  padding: 10px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.not-found-wrapper .add-parks-btn {
  padding: 10px 40px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  border: 2px solid #3d3d3d;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .8;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  color: #3d3d3d;
  margin-top: 50px;
  text-decoration: none;
}

.not-found-wrapper .add-parks-btn:hover {
  opacity: 1;
  color: #fff;
  background-color: #3d3d3d;
  -webkit-transition: color .5s, background-color .5s, opacity .5s;
  transition: color .5s, background-color .5s, opacity .5s;
}

.np-card-wrapper {
  cursor: pointer;
  background-color: #fffefe;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.np-card-wrapper h2,
.np-card-wrapper p {
  color: #1a1a1a;
  font-size: 1.4rem;
  padding: 15px;
  text-align: center;
}

.np-card-wrapper p {
  font-size: 1rem;
  background-color: #e4e4e4;
  border-radius: 0 0 7px 7px;
}

.np-card-wrapper .np-card-img-wrapper {
  position: relative;
}

.np-card-wrapper .np-card-img-wrapper .np-card-img {
  opacity: .7;
  cursor: pointer;
  opacity: 0.9;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px 7px 0 0;
}

.np-card-wrapper .np-card-img-wrapper .np-card-img:hover {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.np-card-wrapper .np-card-img-wrapper .np-card-bucket,
.np-card-wrapper .np-card-img-wrapper .np-card-check,
.np-card-wrapper .np-card-img-wrapper .np-card-notes {
  font-size: 3rem;
  position: absolute;
  top: 10px;
  z-index: 999;
  opacity: .7;
  cursor: pointer;
  right: 10px;
}

.np-card-wrapper .np-card-img-wrapper .np-card-bucket:hover,
.np-card-wrapper .np-card-img-wrapper .np-card-check:hover,
.np-card-wrapper .np-card-img-wrapper .np-card-notes:hover {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.np-card-wrapper .np-card-img-wrapper .np-card-bucket {
  left: 10px;
}

.np-card-wrapper .np-card-img-wrapper .np-card-notes {
  right: 60px;
}

.np-card-wrapper .np-card-btn {
  text-decoration: none;
}

.search-wrapper {
  width: 100%;
  background-color: #cacaca;
  opacity: 0.7;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto 0;
  margin: auto;
}

.search-wrapper .search-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.search-wrapper .search-item-wrapper .search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.search-wrapper .search-item-wrapper .search-item input {
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  border: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  font-size: 1rem;
  margin-bottom: 15px;
  width: 100%;
  background-color: #fffefe;
  color: #3d3d3d;
  font-weight: 300;
  border-radius: 7px 0 0 7px;
}

.search-wrapper .search-item-wrapper .search-item label {
  color: #3d3d3d;
  font-weight: 300;
}

.search-wrapper .search-item-wrapper .search-btn {
  padding: 10px 40px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  border: 2px solid #3d3d3d;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .8;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  color: #3d3d3d;
  padding: 7px;
  font-size: 1.2rem;
  border-radius: 0 7px 7px 0;
}

.search-wrapper .search-item-wrapper .search-btn:hover {
  opacity: 1;
  color: #fff;
  background-color: #3d3d3d;
  -webkit-transition: color .5s, background-color .5s, opacity .5s;
  transition: color .5s, background-color .5s, opacity .5s;
}

.search-loading-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 18, 90, 0.2)), to(rgba(14, 44, 99, 0.2))), url("https://images.unsplash.com/photo-1541641448801-7e14deb25463?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-image: linear-gradient(rgba(6, 18, 90, 0.2), rgba(14, 44, 99, 0.2)), url("https://images.unsplash.com/photo-1541641448801-7e14deb25463?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  width: 100%;
  min-height: 100vh;
}

.search-loading-container p {
  margin: auto;
  font-size: 3rem;
}

.slider-container {
  position: relative;
  width: 100vw;
  height: 40vh;
  background-color: #a7a7a7;
}

.slider-container .details-back-btn,
.slider-container .np-slider-check,
.slider-container .np-slider-bucket {
  position: absolute;
  top: 10px;
  z-index: 999;
  opacity: .7;
  cursor: pointer;
  font-size: 3rem;
}

.slider-container .details-back-btn:hover,
.slider-container .np-slider-check:hover,
.slider-container .np-slider-bucket:hover {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider-container .details-back-btn {
  left: 10px;
}

.slider-container .np-slider-check {
  right: 10px;
}

.slider-container .np-slider-bucket {
  right: 80px;
}

.slider-container .slider-img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.np-info-container {
  padding-bottom: 150px;
}

.np-info-map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.np-info-wrapper {
  width: 50%;
  background-color: #cacaca;
  padding: 50px;
}

.np-info-wrapper .np-feature {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.np-info-wrapper .np-feature p,
.np-info-wrapper .np-feature a {
  font-weight: 400;
  font-size: 1.4rem;
}

.np-info-wrapper .np-feature .feature-icon {
  font-size: 40px;
  margin-right: 10px;
}

.np-info-wrapper h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.map-link {
  text-decoration: none;
}

.map-tag {
  font-size: 1.4rem;
}

.map-title {
  color: #1a1a1a;
  font-weight: 400;
}

.np-info-map {
  padding: 50px;
  width: 50%;
  background-color: #cacaca;
  height: auto;
}

.user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 18, 90, 0.2)), to(rgba(14, 44, 99, 0.2))), url("https://images.unsplash.com/photo-1541641448801-7e14deb25463?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-image: linear-gradient(rgba(6, 18, 90, 0.2), rgba(14, 44, 99, 0.2)), url("https://images.unsplash.com/photo-1541641448801-7e14deb25463?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  width: 100%;
  min-height: 100vh;
}

.user-container .user-wrapper {
  margin: auto;
}

.user-container .user-wrapper .user-header {
  font-weight: 200;
  text-align: center;
  margin-bottom: 50px;
}

.user-container .user-wrapper .user-info {
  width: 100%;
  position: relative;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  background-color: #cacaca;
  opacity: 0.7;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto 0;
  margin: auto;
  padding-top: 50px;
}

.user-container .user-wrapper .user-info p {
  font-size: 1.4rem;
  color: #1a1a1a;
  margin-top: 15px;
}

.user-container .user-wrapper .user-info p span {
  font-weight: 400;
}

.user-container .user-wrapper .user-info .logout-btn {
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  border: 2px solid #3d3d3d;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .8;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  color: #3d3d3d;
}

.user-container .user-wrapper .user-info .logout-btn:hover {
  opacity: 1;
  color: #fff;
  background-color: #3d3d3d;
  -webkit-transition: color .5s, background-color .5s, opacity .5s;
  transition: color .5s, background-color .5s, opacity .5s;
}

.user-container .user-wrapper .user-info .user-feature {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.user-wrapper {
  width: 80%;
}

.user-wrapper .user-header {
  font-size: 2rem;
}

.note-container {
  background-color: #f8f8f8;
  padding: 50px;
}

.note-container h2,
.note-container li {
  color: #1a1a1a;
  list-style: none;
  font-size: 1.4rem;
  text-align: center;
}

.note-form {
  color: #1a1a1a;
  width: 100%;
  background-color: #cacaca;
  opacity: 0.7;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto 0;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  margin: auto;
  margin-top: 30px;
}

.note-form textarea {
  width: 100%;
  resize: none;
  color: #1a1a1a;
  font-size: 1.4rem;
}

.note-form .add-note-btn {
  padding: 10px 40px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  border: 2px solid #3d3d3d;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .8;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  color: #3d3d3d;
  margin-top: 20px;
}

.note-form .add-note-btn:hover {
  opacity: 1;
  color: #fff;
  background-color: #3d3d3d;
  -webkit-transition: color .5s, background-color .5s, opacity .5s;
  transition: color .5s, background-color .5s, opacity .5s;
}

@media (min-width: 640px) {
  .nav-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .login-wrapper {
    width: 70%;
  }
  .login-wrapper .login-header {
    font-size: 2.5rem;
  }
  .user-wrapper {
    width: 70%;
  }
  .user-wrapper .user-header {
    font-size: 2.5rem;
  }
  .np-container {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[1];
        grid-template: auto/repeat(1, 1fr);
    width: 70%;
  }
  .search-wrapper .search-item-wrapper {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .login-wrapper {
    width: 60%;
  }
  .login-wrapper .login-header {
    font-size: 2.8rem;
  }
  .user-wrapper {
    width: 60%;
  }
  .user-wrapper .user-header {
    font-size: 2.8rem;
  }
  .np-container {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template: auto/repeat(2, 1fr);
    width: 90%;
  }
  .search-wrapper .search-item-wrapper {
    width: 70%;
  }
}

@media (min-width: 880px) {
  .login-wrapper {
    width: 50%;
  }
  .user-wrapper {
    width: 50%;
  }
  .np-container {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template: auto/repeat(2, 1fr);
    width: 80%;
  }
  .search-wrapper .search-item-wrapper {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .login-wrapper {
    width: 40%;
  }
  .user-wrapper {
    width: 40%;
  }
  .np-container {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[3];
        grid-template: auto/repeat(3, 1fr);
    width: 90%;
  }
  .search-wrapper .search-item-wrapper {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .login-wrapper {
    width: 30%;
  }
  .user-wrapper {
    width: 30%;
  }
  .search-wrapper .search-item-wrapper {
    width: 40%;
  }
}
/*# sourceMappingURL=index.css.map */