$break1: 640px;
$break2: 768px;
$break3: 880px;
$break4: 1024px;
$break5: 1280px;

@media (min-width: $break1) {
    .nav-container {
        justify-content: space-evenly;
    }
}

@media (min-width: $break2) {
    
}

@media (min-width: $break3) {
   
}

@media (min-width: $break4) {
   
}

@media (min-width: $break5) {
   
}