$font-light: #fafafa;
$font-medium: #575757;
$font-dark: #1a1a1a;
$background-white:#fffefe;
$background-light:#f8f8f8;
$background-medium-light: #e4e4e4;
$background-medium: #cacaca;
$background-medium-dark: #a7a7a7;
$background-dark: #3d3d3d;
$alert-error: #9e020f;
$alert-success: #197520;
$alert-warning: #f5ba1a;